<div class="row">
<div class="col-xs-12 text-center">Welcome, {{homeController.supplierName}}</div>
<div class="col-xs-12 text-center"><a href="#logout" ng-click="homeController.logout()">Logout</a></div>
<br/><br/>
</div>
<div class="list-group list-icon row">
    <button type="button" class="list-group-item" ng-click="homeController.navigateToOrderToolTag();closeFlyout()"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> ORDER TOOL TAG <span class="glyphicon glyphicon-chevron-right pull-right"></span></button>
    <button type="button" class="list-group-item" ng-click="homeController.navigateToUploadToolTag();closeFlyout()"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> UPLOAD TOOL PHOTO <span class="glyphicon glyphicon-chevron-right pull-right"></span></button>
    <button type="button" class="list-group-item" ng-click="homeController.navigateToScanToolTag();closeFlyout()"><span class="scan-icon pull-left" style="margin-right:6px""  aria-hidden="true"></span> SCAN TOOL TAG <span class="glyphicon glyphicon-chevron-right pull-right"></span></button>
</div>
